
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Shop.Models.Venta oVenta = (Shop.Models.Venta)ViewBag.Venta;
}
<link href="~/Content/css/paymentMethodsAr.css" rel="stylesheet" />
<br />
<br />
<div class="container-fluid">
    <div class="row animate-box">
        @*CARRITO*@
        <div class="col-md-8 text-center">
            <ul id="ulCart" class="dropdown-product">
                @if (oVenta == null || oVenta.DetalleVenta.Count() == 0)
                {
                    <li class="text-muted text-center">
                        <p style="font-size:100px"><i class="fa fa-cart-arrow-down"></i></p>
                        <p style="font-size:25px">Ahún no has agregado ningun producto al carrito</p>
                    </li>
                    <li style="margin-bottom: 0px;">
                        <br />
                        <button class="btn btn-primary" style="margin-top:0px; margin-bottom:0px;font-size: 25px; width: 80%;" type="button" onclick="location.href= '@Url.Action("Index","Home")'">Comenzar a comprar!</button>
                        <br /><br /><br />
                    </li>

                }
                else
                {
                    foreach (Shop.Models.DetalleVenta oDetalle in oVenta.DetalleVenta)
                    {
                        <li id="liCart-@oDetalle.idProducto">
                            <div class="dw-product-box">
                                <div class="u-img text-center">
                                    <a href="@Url.Action("ProductDetail", "Product", new { idProducto = oDetalle.Producto.idProducto })">
                                        <img class="img-fluid img-circle" style="width:100px; margin-bottom: 9px;" src="~/Images/Product/@oDetalle.Producto.Imagen.Where(x=> x.principal == true).FirstOrDefault().archivo" alt="product">
                                    </a>
                                </div>
                                <div class="u-text" style="vertical-align: text-top;">
                                    <a style="font-size:20px" href="@Url.Action("ProductDetail", "Product", new { idProducto = oDetalle.Producto.idProducto })">
                                        <h4 style="text-overflow: ellipsis;white-space: nowrap; overflow: hidden;">@oDetalle.Producto.nombre (@("x" + oDetalle.cantidad))</h4>
                                    </a>
                                    <p class="text-muted">
                                        $@Convert.ToInt32(oDetalle.precioUnitario) c/u
                                        @if (oDetalle.descuento > 0)
                                        {
                                            <span class="text-primary">(-@oDetalle.descuento%)</span>
                                            <span style="font-size: 17px;" class="pull-right">
                                                <span class="textDescuento">$@(Convert.ToInt32(oDetalle.precioUnitario) * oDetalle.cantidad)</span>
                                                $@Convert.ToInt32(oDetalle.subTotal)
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="font-size: 17px;" class="pull-right">$@Convert.ToInt32(oDetalle.subTotal)</span>
                                        }
                                    </p>
                                    <p class="text-muted">
                                        <a class="linkCategories" href="@Url.Action("ProductList", "Product", new { stSearch = oDetalle.Producto.SubCategoria.Categoria.nombre })">@oDetalle.Producto.SubCategoria.Categoria.nombre</a>
                                        >
                                        <a class="linkCategories" href="@Url.Action("ProductList", "Product", new { stSearch = (oDetalle.Producto.SubCategoria.Categoria.nombre + oDetalle.Producto.SubCategoria.nombre) })">@oDetalle.Producto.SubCategoria.nombre</a>
                                        <a href="javascript:RemoveProduct(@oDetalle.idProducto)" class="pull-right"><i class="fa fa-times"></i></a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    }
                    <li>
                        <span class="price" style="color: #484848; margin-bottom: 10px;">Total $@Convert.ToInt32(oVenta.montoTotal)</span>
                    </li>

                    <li style="margin-bottom: 0px;">
                        <form method="post" action="@Url.Action("PayMercadoPago","Sell")">
                            <button class="btn btn-primary" style="margin-top:0px; margin-bottom:0px;font-size: 25px; width: 80%;" type="submit">Pagar</button>
                        </form>
                        <br /><br /><br /><br />
                    </li>
                }

            </ul>
        </div>
        @*MEDIOS DE PAGO Y ENVIO*@
        <div class="col-md-4">
            <div class="text-center" style="margin-left: auto; margin-right: auto; width:95%;">
                <h4><i class="fa fa-lock"></i> Paga de forma segura</h4>
                <img class="img-fluid" style="max-width:150px" src="~/Content/images/MercadoPago.png" />
                <br />
                <p>Tarjeta de crédito en hasta 12 cuotas<br />Tarjeta de débito<br />Efectivo en puntos de pago</p>
            </div>
            <hr />
            <form method="post">
                <div class="text-center" style="margin-left: auto; margin-right: auto; width:95%;">
                    <h4><i class="fa fa-archive"></i> Recibí los productos en tu domicilio</h4>
                    <img class="img-fluid" style="max-width:150px" src="~/Content/images/MercadoEnvios.png" />
                    <br />
                    <p style="margin-bottom:0px;" class="text-muted"> Calular costo de envío:</p>
                </div>
                <div class="input-group" style="margin-left: auto; margin-right: auto; width:95%;">
                    <input type="text" class="form-control" placeholder="Código postal" aria-label="Código postal">
                    <div class="input-group-append">
                        <button class="btn btn-primary" style="margin-top:0px; margin-bottom:0px;" type="submit"><i style="font-size:22px" class="fa fa-truck"></i>&nbsp;&nbsp; Calcular</button>
                    </div>
                </div>
                <p class="text-muted text-center">Costo: $320</p>
            </form>
            <hr />
        </div>
    </div>
</div>
