@{
    ViewBag.Title = "ViewProduct";
    List<Shop.Models.Categoria> lstCategoria = (List<Shop.Models.Categoria>)ViewBag.lstCategoria;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

<div class="row">
    <div class="col-md-5">

        <button onclick="seleccionarImagen()" style="cursor:pointer" class="btn btn-primary btn-outline w-100"><i class="fa fa-plus"></i> Agregar imagen</button>
        <hr />
        <div id="Div-imgSalida" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li id="li-SinImg" data-target="#Div-imgSalida" data-slide-to="0" class="active"></li>

            </ol>
            <div class="carousel-inner">
                <div id="div-SinImg" class="text-center carousel-item active">
                    <img id="imgSalida-0" class="img-fluid" style="max-height:550px; min-height:200px;" src="~/Content/images/camara.jpg" alt="First slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#Div-imgSalida" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Div-imgSalida" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <p class="text-mute text-center">Tamaño recomendado 1200x1000.</p>
    </div>
    <div class="col-md-7 animate-box">
        <h3>Nuevo Producto</h3>
        <form method="post" action="@Url.Action("GuardarModificarProducto","Product")" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="row form-group">
                <div class="col-12 col-md-12">
                    @*<label>Categoría &nbsp;&nbsp;<button type="button" class="btn btn-outline-dark btn-agregar" onclick="_PopUpGuardarModificarCategoria(0,1)"><i class="fa fa-plus-circle"></i></button></label>*@
                    <div class="col-12">
                        <select id="select-Categorias" onchange="CargarComboSubcategoria()" class="form-control" style="border:0px; height: 55px;" name="">
                            <option selected value="0">Categoría</option>
                            @{
                                foreach (Shop.Models.Categoria oCategoria in lstCategoria)
                                {

                                    <option value="@oCategoria.idCategoria">@oCategoria.nombre</option>

                                }
                            }
                        </select>
                    </div>

                    @*<label>Sub categoría <button type="button" class="btn btn-outline-dark btn-agregar" onclick="_PopUpGuardarModificarCategoria(1,2)"><i class="fa fa-plus-circle"></i></button></label>*@
                    @{
                        <div class="col-12">
                            <select disabled id="select-Subcategoria" class="form-control" style="border:0px; height: 55px;" name="oProducto.idSubCategoria">
                                <option value="0">Subcategoria</option>
                            </select>
                        </div>
                    }
                </div>


            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="text" name="oProducto.nombre" required id="idNombre" class="form-control" placeholder="Nombre del producto">
                </div>

            </div>
            @* Stocks *@
            <div class="row form-group">
                <div class="col-12 col-md-4">
                    <input type="number" name="oProducto.stockMinimo" required min="0" id="idStockMinimo" class="form-control" placeholder="Stock Minimo">
                </div>
                <div class="col-12 col-md-4">
                    <input type="number" name="oProducto.stockActual" required min="0" id="idStockActual" class="form-control" placeholder="Stock Actual">
                </div>
                <div class="col-12 col-md-4">
                    <input type="number" name="oProducto.stockIdeal" required min="0" id="idStockIdeal" class="form-control" placeholder="Stock Ideal">
                </div>
            </div>
            @* precios *@
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <input type="number" name="precio" required step=".1" min="0" id="idPrecio" class="form-control" placeholder="Precio del producto">
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" name="oProducto.descuento" required id="idDescuento" class="form-control" placeholder="Descuento">
                </div>
            </div>
            @* medidas *@
            <div class="row form-group">
                <div class="col-12 col-md-3">
                    <input type="number" name="oProducto.ME_alto" required min="0" id="idStockMinimo" class="form-control" placeholder="Alto del paquete">
                </div>
                <div class="col-12 col-md-3">
                    <input type="number" name="oProducto.ME_ancho" required min="0" id="idStockActual" class="form-control" placeholder="Ancho del paquete">
                </div>
                <div class="col-12 col-md-3">
                    <input type="number" name="oProducto.ME_largo" required min="0" id="idStockIdeal" class="form-control" placeholder="Largo del paquete">
                </div>
                <div class="col-12 col-md-3">
                    <input type="number" name="oProducto.ME_peso" required min="0" id="idStockIdeal" class="form-control" placeholder="Peso del paquete">
                </div>
            </div>
            @* descripcion *@
            <div class="row form-group">
                <div class="col-md-12">
                    <textarea name="oProducto.descripcion" required id="idDescripcion" cols="30" rows="10" class="form-control" placeholder="Descripcion sobre el producto."></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary">
            </div>
            <div id="div-imagen" class="col-md-1">
                <input name="imagen" class="dis-none" id="file-input-0" type="file" />
            </div>
        </form>
    </div>


</div>
<div id="div-popup-categoria"></div>

@section scripts{
    <script>
        var contadorImg = 0;
    function seleccionarImagen()
    {
        $('#file-input-' + contadorImg).click();
        $('#file-input-' + contadorImg).change(function (e) {

            //$('#Div-imgSalida').append("<img id=\"imgSalida\-" + contadorImg + "\" style=\"width:300px;height:300px\" src=\"\"/>");
            
            if (contadorImg != 0) {
                $('.carousel-inner').append('<div class="text-center carousel-item"><img id="imgSalida-' + contadorImg + '" class="img-fluid" style="max-height:550px; min-height:200px;" src=""/></div>');
                $('.carousel-indicators').append('<li data-target="#Div-imgSalida" data-slide-to="' + contadorImg + '"></li>');
            }

            

            var idDeNuevo = contadorImg + 1;
            $('#div-imagen').append("<input name=\"imagen\" class=\"dis-none\" id=\"file-input\-" + idDeNuevo + "\" type=\"file\" />");
            addImage(e);
        });

        function addImage(e) {
            var file = e.target.files[0],
                imageType = /image.*/;

            if (!file.type.match(imageType))
                return;

            var reader = new FileReader();
            reader.onload = fileOnload;
            reader.readAsDataURL(file);
        }

        function fileOnload(e) {
            var result = e.target.result;
            $('#imgSalida-' + contadorImg).attr("src", result);
            contadorImg++;
        }
    }
    //Categoria

    function CargarComboSubcategoria() {
        var url = "@Url.Action("ObtenerSubcategoriaDeCategoria", "Product")";
        var idCategoria = document.getElementById("select-Categorias").value;
        var data = { idCategoria: idCategoria };
        $.post(url, data).done(function (data) {
            if (data == "<option selected value=\"0\">Subcategoria</option>" | data == "") {
                document.getElementById("select-Subcategoria").innerHTML = "<option selected value=\"0\">Subcategoria</option>";
                document.getElementById("select-Subcategoria").setAttribute("disabled", "true");
            }
            else {
                document.getElementById("select-Subcategoria").innerHTML = data + "";
                document.getElementById("select-Subcategoria").removeAttribute("disabled");
            }
        });
        }


    </script>
}