<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shop</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    @Styles.Render("~/css/animate")
    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/fontawesome")
    @Styles.Render("~/css/style")
    @Scripts.Render("~/js/ModernizrJs")

</head>
<body >
    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form action="@Url.Action("ProductList","Product")" method="post" class="form-inline my-2 my-lg-0 mr-auto w-100" autocomplete="off">

                    <div class="input-group" style="margin-left: auto; margin-right: auto; width:95%;">
                        <input type="text" minlength=4 required class="form-control" name="stSearch" placeholder="Buscar..." aria-label="Buscar">
                        <div class="input-group-append">
                            <button class="btn btn-primary" style="margin-top:0px; margin-bottom:0px;" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                </form>
               
                <div class="shopping-cart dropdown" >
                    <a data-toggle="dropdown" id="visualizarCarrito" role="button" class="btn cart"><span><small>0</small><i class="fa fa-shopping-cart"></i></span></a>

                    <div class="dropdown-menu dropdown-menu-right animated fadeInDown" role="menu" aria-labelledby="visualizarCarrito">
                        <ul class="dropdown-product">
                            <li>
                                <div class="dw-product-box">
                                    <div class="u-img">
                                        <img class="img-fluid img-circle" style="width:50px" src="~/Content/images/product-2.jpg" alt="product">
                                    </div>
                                    <div class="u-text">
                                        <h4 style="text-overflow: ellipsis;white-space: nowrap; overflow: hidden;">Campera adidas (x2)</h4>
                                        <p class="text-muted">$1200 c/u <a href="#" class="pull-right"><i class="fa fa-times"></i></a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dw-product-box">
                                    <div class="u-img">
                                        <img class="img-fluid img-circle" style="width:50px" src="~/Content/images/product-2.jpg" alt="product">
                                    </div>
                                    <div class="u-text">
                                        <h4 style="text-overflow: ellipsis;white-space: nowrap; overflow: hidden;">Campera adidas (x2)</h4>
                                        <p class="text-muted">$1200 c/u <a href="#" class="pull-right"><i class="fa fa-times"></i></a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dw-product-box">
                                    <div class="u-img">
                                        <img class="img-fluid img-circle" style="width:50px" src="~/Content/images/product-2.jpg" alt="product">
                                    </div>
                                    <div class="u-text">
                                        <h4 style="text-overflow: ellipsis;white-space: nowrap; overflow: hidden;">Campera adidas (x2)</h4>
                                        <p class="text-muted">$1200 c/u <a href="#" class="pull-right"><i class="fa fa-times"></i></a></p>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 0px;">
                                <button class="btn btn-primary btn-block" style="margin-top:0px; margin-bottom:0px;" type="button" onclick="location.href='@Url.Action("Cart", "Home")'">Comprar ahora</button>
                            </li>
                            @*<li class="text-muted text-center">
                                <p style="font-size:50px"><i class="fa fa-cart-arrow-down"></i></p>
                                <p>Carrito vacío</p>
                            </li>*@
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </div>


 @RenderBody()
    
       
    

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="fa fa-angle-up"></i></a>
    </div>


    @Scripts.Render("~/js/jQuery")
    @Scripts.Render("~/js/bootstrap")
    @Scripts.Render("~/js/carousel")
    @Scripts.Render("~/js/main")


    @RenderSection("scripts", required: false)

    <footer id="fh5co-footer" class="fh5co-bg-section animated fadeInUp" style="padding:4em 0" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-5 col-md-4 fh5co-widget">
                    <h3>Shop.</h3>
                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                </div>
                <div class="col-7 col-md-8">
                    <ul class="fh5co-footer-links">
                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                        <li><a href="@Url.Action("Cart", "Sell")">Cart</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</body>



</html>






