
@{
    ViewBag.Title = "Lista de productos";
    List<Shop.Models.Categoria> lstCatgoria = ViewBag.lstCategorias;
}



    <div class="container-fluid h-100">
            <div class="row h-100">
                <aside class="col-12 col-md-2 p-0" style="background-color:#2d2d2d ">
                    <nav class="navbar navbar-expand-lg navbar-dark flex-md-column flex-row align-items-start py-2">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            @*PONER OTRO ICONO*@
                            
                            <i style="font-size: 34px;" class="fa fa-filter"></i>
                        </button>
                        <div class="collapse navbar-collapse w-100" id="navbarNav" >
                            <ul class="navbar-nav flex-md-column navbar-nav w-100 justify-content-between">
                                <li class="nav-item active">
                                    <p class="nav-link" href="#">CATEGORÍAS</p>
                                    <hr />

                                    @foreach (Shop.Models.Categoria oCategoria in lstCatgoria)
                                    {
                                        <div class="panel-group accordion-menu" id="accordion">
                                            <p>
                                                <a href="#">@oCategoria.nombre</a>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#Collapse_@oCategoria.idCategoria"><i class="pull-right fa fa-caret-down"></i></a>

                                            </p>
                                            <div id="Collapse_@oCategoria.idCategoria" class="collapse">
                                                <ul style="list-style-type: none">
                                                    @foreach (Shop.Models.SubCategoria oSubcategoria in oCategoria.SubCategoria)
	                                                {
                                                        <li><a href="#">@oSubcategoria.nombre</a></li>
	                                                }
                                                </ul>
                                            </div>
                                        </div>
                                    }

                                </li>
                                <li class="nav-item active">
                                    <p class="nav-link" href="#">Ordenar por</p>
                                    <hr />
                                </li>
                                
                            </ul>
                        </div>
                    </nav>
                </aside>
                <main class="col bg-faded py-3">
                    <div id="fh5co-product">
                        <div class="container-fluid">
                            <div class="row" id="listProduct">
                                @Html.Action("_ProductList", "Product", new { pageIndex = 0, pageSize = 3, stSearch = ViewBag.search })

                            </div>
                                <div id="progress" class="row" style="display:none;min-height:400px; width: 100%; height: 100%; background: url(../../Content/images/loader.gif) center no-repeat #fff;">
                                </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

@section scripts{
<script>
    var pageSize = 3;
    var pageIndex = 1;
    var totalProduct = @ViewBag.cantProductos;
    var loading = false;

    $(document).ready(function () {

        $(window).scroll(function () {
            if ($(window).scrollTop() > $(document).height() - $(window).height() - 300) {
                if ((pageSize * pageIndex) >= totalProduct || loading == true) {
                    return;
                }
                GetData();
            }
        });
    });

    function GetData() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("_ProductList", "Product")",
            data: { "pageindex": pageIndex, "pagesize": pageSize, "stSearch":'@ViewBag.search'  },
            success: function (data) {
                if (data != null && data != '') {
                    $('#listProduct').append(data);
                    pageIndex++;
                }
            },


            beforeSend: function () {
                loading = true;
                $("#progress").show();
            },
            complete: function () {
                loading = false;
                $("#progress").hide();
                if ((pageSize * pageIndex) >= totalProduct) {
                    $('#listProduct').append('<div class="col-12"><br/><hr style="width: 30%; border-top-width: 2px;" /></div>');
                }
            },
            error: function () {
                alert("Ocurrio un error y no se pudieron optener algunos articulos.");
            }
        });
        
    }

</script>
    }



